<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<nav class="navbar app-bg-color">
  <div class="container">
    <div class="navbar-nav mr-auto">
      <a class="nav-link white" href="/"><i style="font-size: 1.8rem;" class="bi bi-arrow-left-short"></i></a>
    </div>

    <div class="navbar-nav mx-auto">
      <a class="nav-link white">LOG IN</a>
    </div>

    <div class="navbar-nav ml-auto">
      <%= f.submit "Log in" %>
    </div>
  </div>
</nav>



  <div class="field">
    <br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email',  autocomplete: "email" %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: "current-password" %>
  </div>

<% end %>

<div class="forgot_pass">
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot password?", new_password_path(resource_name), class: 'forgot_password text-body-tertiary' %><br />
<% end %>
</div>